.container {
  padding: 20px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  background: white;
  position: relative;
  overflow: scroll;
}


.my-face {
  margin-bottom: 20px;
}

.my-face img {
  border-radius: 100%;
  box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.26);
  height: auto;
  width: calc(25vmin * 0.85 + 25vmax * 0.15);
}

.header {
  position: relative;
}


.presentation {
  font-size: 16vmin;
  width: 80%;
  line-height: 13vmin;
  float: left;
  text-align: left;
}

.presentation2 {
  font-size: 4vmin;
  text-align: left;
  width: 50%;
  float: left;
  margin-top: 5vmin;
  line-height: 5vmin;
  font-weight: 300;
  color: #989898;
}

.my-name-is {
  font-size: 10vmin;
  white-space: nowrap;
} 

.my-name-is::after {
  content: '\A';
  white-space: pre;
}

.my-name {
  font-weight: 600;
  text-shadow: 0.5px 0.5px #ffa2d1, 1px 1px #ffa2d1, 1.5px 1.5px #ffa2d1, 2px 2px #ffa2d1, 2.5px 2.5px #ffa2d1, 3px 3px #ffa2d1, 3.5px 3.5px #ffa2d1, 4px 4px #ffa2d1, 4.5px 4.5px #ffa2d1, 5px 5px #ffa2d1, 5.5px 5.5px #ffa2d1, 6px 6px #ffa2d1, 6.5px 6.5px #ffa2d1, 7px 7px #ffa2d1;
  
}

.hey {
  font-weight: 600;
  color: #5ddaef;
  text-shadow: 0.5px 0.5px #4c4c4c, 1px 1px #4c4c4c, 1.5px 1.5px #4c4c4c, 2px 2px #4c4c4c, 2.5px 2.5px #4c4c4c, 3px 3px #4c4c4c, 3.5px 3.5px #4c4c4c, 4px 4px #4c4c4c, 4.5px 4.5px #4c4c4c, 5px 5px #4c4c4c, 5.5px 5.5px #4c4c4c, 6px 6px #4c4c4c, 6.5px 6.5px #4c4c4c, 7px 7px #4c4c4c;
  
}


.background-text {
  background: #ffa2d1;
  color: #fff;
  padding: 2px 6px;
  margin-right: 3px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.8em;
}





.social-links a {
  color: #c079ff;
  font-size: 1.5em;
}

.social-links a:hover {
  color: #b5e72b;
}

.career {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  width: 30%;
  margin: 13px;
  font-size: 4vmin;
  font-weight: 300;
  color: #989898;
}

.career a {
  color: #57c5d8;
}

.career a:hover {
  color: #ffa2d1;
}

.photo-link {
  font-size: 0.65em;
  line-height: 0.0em;
  white-space: nowrap;
  color: #c079ff;
}

.photo-link a:hover {
  color: #57c5d8;
}

.courier-label {
  font-size: 1.5em;
  font-weight: 400;
}